{
  "openapi": "3.0.3",
  "info": {
    "title": "openwishlist-preview",
    "description": "Link Preview API",
    "version": "0.0.1"
  },
  "components": {
    "schemas": {
      "url": {
        "type": "string"
      },
      "refresh": {
        "type": "boolean"
      },
      "GetLinkPreviewResponse": {
        "properties": {
          "url": {
            "title": "Result.url",
            "type": "string"
          },
          "image": {
            "title": "Result.image",
            "type": "string"
          },
          "name": {
            "title": "Result.name",
            "type": "string"
          },
          "sku": {
            "title": "Result.sku",
            "type": "string"
          },
          "keywords": {
            "title": "Result.keywords",
            "type": "string"
          },
          "description": {
            "title": "Result.description",
            "type": "string"
          },
          "schema": {
            "title": "Result.schema",
            "type": "object"
          },
          "meta": {
            "properties": {
              "parser": {
                "title": "Meta.parser",
                "type": "string"
              },
              "createdDate": {
                "title": "Meta.createdDate",
                "type": "string"
              },
              "modifiedDate": {
                "title": "Meta.modifiedDate",
                "type": "string"
              }
            },
            "additionalProperties": false,
            "type": "object",
            "title": "Result.meta"
          }
        },
        "required": [
          "url"
        ],
        "additionalProperties": false,
        "title": "Result",
        "type": "object"
      }
    }
  },
  "paths": {
    "/preview/{url}": {
      "get": {
        "summary": "Get link preview",
        "description": "",
        "operationId": "openwishlist-preview-dev-preview",
        "parameters": [
          {
            "name": "url",
            "in": "path",
            "description": "base64 encoded url",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/url"
            }
          },
          {
            "name": "refresh",
            "in": "query",
            "description": "Force re-fetch result",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/refresh"
            }
          }
        ],
        "tags": [],
        "responses": {
          "200": {
            "description": "A result object for the link",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLinkPreviewResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "servers": [
    {
      "url": "https://preview.api.play.adapttive.com/dev",
      "description": "Dev server (uses live data)"
    },
    {
      "url": "https://preview.api.play.adapttive.com",
      "description": "Live server (uses live data)"
    }
  ],
  "tags": [
    {
      "name": "serverless"
    },
    {
      "name": "serverless-framework"
    },
    {
      "name": "link-preview"
    },
    {
      "name": "scraping"
    },
    {
      "name": "nodejs"
    },
    {
      "name": "aws"
    }
  ]
}