{
  "openapi": "3.0.3",
  "info": {
    "title": "openwishlist-preview",
    "description": "Link Preview API",
    "version": "0.0.1"
  },
  "components": {
    "schemas": {
      "url": {
        "type": "string"
      },
      "refresh": {
        "type": "boolean"
      },
      "GetLinkPreviewResponse": {
        "properties": {
          "data": {
            "properties": {
              "url": {
                "title": "Result.url",
                "type": "string"
              },
              "image": {
                "title": "Result.data.image",
                "type": "string"
              },
              "name": {
                "title": "Result.data.name",
                "type": "string"
              },
              "sku": {
                "title": "Result.data.sku",
                "type": "string"
              },
              "keywords": {
                "title": "Result.data.keywords",
                "type": "string"
              },
              "description": {
                "title": "Result.data.description",
                "type": "string"
              },
              "schema": {
                "title": "Result.data.schema",
                "type": "object"
              },
              "meta": {
                "properties": {
                  "parser": {
                    "title": "Result.data.meta.parser",
                    "type": "string"
                  },
                  "createdDate": {
                    "title": "Result.data.meta.createdDate",
                    "type": "string"
                  },
                  "modifiedDate": {
                    "title": "Result.data.meta.modifiedDate",
                    "type": "string"
                  }
                },
                "additionalProperties": false,
                "type": "object",
                "title": "Result.data.meta"
              }
            },
            "additionalProperties": false,
            "type": "object",
            "title": "Result.data",
            "required": [
              "url"
            ]
          },
          "meta": {
            "properties": {
              "parser": {
                "title": "Result.meta.parser",
                "type": "string"
              },
              "createdDate": {
                "title": "Result.meta.createdDate",
                "type": "string"
              },
              "modifiedDate": {
                "title": "Result.meta.modifiedDate",
                "type": "string"
              }
            },
            "additionalProperties": false,
            "type": "object",
            "title": "Result.meta"
          },
          "status": {
            "title": "Result.status",
            "type": "number"
          }
        },
        "required": [
          "data",
          "meta",
          "status"
        ],
        "additionalProperties": false,
        "title": "Result",
        "type": "object"
      }
    }
  },
  "paths": {
    "/preview/{url}": {
      "get": {
        "summary": "Get link preview",
        "description": "",
        "operationId": "openwishlist-preview-dev-preview",
        "parameters": [
          {
            "name": "url",
            "in": "path",
            "description": "base64 encoded url",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/url"
            }
          },
          {
            "name": "refresh",
            "in": "query",
            "description": "Force re-fetch result",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/refresh"
            }
          }
        ],
        "tags": [],
        "responses": {
          "200": {
            "description": "A result object for the link",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLinkPreviewResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "servers": [
    {
      "url": "https://preview.api.play.adapttive.com/dev",
      "description": "Dev server (uses live data)"
    },
    {
      "url": "https://preview.api.play.adapttive.com",
      "description": "Live server (uses live data)"
    }
  ],
  "tags": [
    {
      "name": "serverless"
    },
    {
      "name": "serverless-framework"
    },
    {
      "name": "link-preview"
    },
    {
      "name": "scraping"
    },
    {
      "name": "nodejs"
    },
    {
      "name": "aws"
    }
  ]
}