{
  "openapi": "3.0.3",
  "info": {
    "title": "openwishlist-preview",
    "description": "Link Preview API",
    "version": "0.6.0"
  },
  "components": {
    "schemas": {
      "url": {
        "type": "string"
      },
      "refresh": {
        "type": "boolean"
      },
      "GetLinkPreviewResponse": {
        "properties": {
          "data": {
            "properties": {
              "id": {
                "title": "Result.id",
                "type": "string"
              },
              "url": {
                "title": "Result.url",
                "type": "string"
              },
              "image": {
                "title": "Result.data.image",
                "type": "string"
              },
              "name": {
                "title": "Result.data.name",
                "type": "string"
              },
              "sku": {
                "title": "Result.data.sku",
                "type": "string"
              },
              "keywords": {
                "title": "Result.data.keywords",
                "type": "string"
              },
              "description": {
                "title": "Result.data.description",
                "type": "string"
              },
              "prices": {
                "title": "Result.data.prices",
                "type": "array",
                "items": {
                  "properties": {
                    "price": {
                      "title": "Result.data.prices.price.price",
                      "type": "string"
                    },
                    "priceCurrency": {
                      "title": "Result.data.prices.price.priceCurrency",
                      "type": "string"
                    },
                    "validFrom": {
                      "title": "Result.data.prices.price.validFrom",
                      "type": "string"
                    },
                    "validThrough": {
                      "title": "Result.data.prices.price.validThrough",
                      "type": "string"
                    }
                  },
                  "additionalProperties": false,
                  "type": "object",
                  "title": "Result.data.price"
                }
              },
              "priceChangeType": {
                "title": "Result.data.priceChangeType",
                "type": "string",
                "enum": [
                  "increase",
                  "decrease",
                  "nochange"
                ]
              },
              "priceChange": {
                "title": "Result.data.priceChange",
                "type": "string"
              },
              "schema": {
                "title": "Result.data.schema",
                "type": "object"
              },
              "meta": {
                "title": "Result.data.meta",
                "properties": {
                  "version": {
                    "title": "Result.meta.version",
                    "type": "number"
                  },
                  "parser": {
                    "title": "Result.meta.parser",
                    "type": "string"
                  },
                  "createdDate": {
                    "title": "Result.meta.createdDate",
                    "type": "string"
                  },
                  "modifiedDate": {
                    "title": "Result.meta.modifiedDate",
                    "type": "string"
                  }
                },
                "additionalProperties": false,
                "type": "object"
              }
            },
            "additionalProperties": false,
            "type": "object",
            "title": "Result.data",
            "required": [
              "url",
              "id"
            ]
          },
          "meta": {
            "title": "Result.meta",
            "properties": {
              "version": {
                "title": "Result.meta.version",
                "type": "number"
              },
              "parser": {
                "title": "Result.meta.parser",
                "type": "string"
              },
              "createdDate": {
                "title": "Result.meta.createdDate",
                "type": "string"
              },
              "modifiedDate": {
                "title": "Result.meta.modifiedDate",
                "type": "string"
              }
            },
            "additionalProperties": false,
            "type": "object"
          },
          "status": {
            "title": "Result.status",
            "type": "number"
          }
        },
        "required": [
          "data",
          "meta",
          "status"
        ],
        "additionalProperties": false,
        "title": "Result",
        "type": "object"
      },
      "id": {
        "type": "string"
      }
    }
  },
  "paths": {
    "/preview/{url}": {
      "get": {
        "summary": "Get product preview by url",
        "description": "",
        "operationId": "openwishlist-preview-dev-preview",
        "parameters": [
          {
            "name": "url",
            "in": "path",
            "description": "base64 encoded url",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/url"
            }
          },
          {
            "name": "refresh",
            "in": "query",
            "description": "Force re-fetch result",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/refresh"
            }
          }
        ],
        "tags": [],
        "responses": {
          "200": {
            "description": "A result object for the link",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLinkPreviewResponse"
                }
              }
            }
          }
        }
      }
    },
    "/preview/id/{id}": {
      "get": {
        "summary": "Get product by preview id",
        "description": "",
        "operationId": "openwishlist-preview-dev-preview-get-by-id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "uuid of product",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/id"
            }
          }
        ],
        "tags": [],
        "responses": {
          "200": {
            "description": "A result object for the link",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLinkPreviewResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "servers": [
    {
      "url": "https://preview.api.play.adapttive.com/dev",
      "description": "Dev server (uses live data)"
    },
    {
      "url": "https://preview.api.play.adapttive.com",
      "description": "Live server (uses live data)"
    }
  ],
  "tags": [
    {
      "name": "serverless"
    },
    {
      "name": "serverless-framework"
    },
    {
      "name": "link-preview"
    },
    {
      "name": "scraping"
    },
    {
      "name": "nodejs"
    },
    {
      "name": "aws"
    }
  ]
}